/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.kt-full {
  @apply h-full w-full;
}
.kt-page {
  @apply kt-full relative overflow-hidden;
}
.kt-flex-center {
  @apply flex items-center justify-center;
}

.kt-bg-full {
  @apply bg-cover bg-center bg-no-repeat;
}

.kt-border {
  @apply border-2 border-red-600;
}

.kt-full-residue {
  /* 占满剩余空间，切不会被内容撑大 */
  @apply min-h-0 flex-1 overflow-hidden;
}

.kt-fx-center {
  @apply flex flex-row items-center;
}

.kt-fy-center {
  @apply flex flex-col items-center;
}

.kt-tlb {
  /* kt-text-line-base */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
